proxy=http://127.0.0.1:7890
https-proxy=http://127.0.0.1:7890

electron_mirror=https://npmmirror.com/mirrors/electron/
electron_custom_dir=v29.2.0
# 可选：提升稳定性
fetch-retries=5
fetch-retry-maxtimeout=120000
fetch-timeout=600000
